<!-- This will be for displaying the navigation on the page -->
<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/dashboard">dashboard</a></li>
    <!-- Nest in IF statement for later on... -->
        <li><a href="/login">login</a></li> 
    <!-- Nest in IF statement for later on... -->
    </ul>
</nav>