<!-- This will be for displaying the navigation on the page -->
<nav>
    <ul>
        <li>home</li>
        <li>dashboard</li>
    <!-- Nest in IF statement for later on... -->
        <li>login</li> 
    <!-- Nest in IF statement for later on... -->
    </ul>
</nav>