<!-- This will be for displaying a blog post -->
{{#each postData as |post|}}
<section name="blogPost">
    <h3 name="post-header">{{title}}</h3>
    <p class="sub" name="post-publish">Posted on: {{format_date created_on}} by {{user.name}}</p>
    <p class="post" name="post-content">{{text}}</p>
    <span name="post-footer">Comments: 0 | Leave a comment.</span>
</section>
{{/each}}