<!-- This will be for displaying a blog post -->
<section name="blogPost">
    <h3 name="post-header">My Cool Blog Post</h3>
    <p class="sub" name="post-publish">Posted on: 01/30/24 by Jared Elliott</p>
    <p class="post" name="post-content">Post content goes here.</p>
    <span name="post-footer">Comments: 0 | Leave a comment.</span>
</section>

<section name="blogPost">
    <h3 name="post-header">My Cool Blog Post</h3>
    <p class="sub" name="post-publish">Posted on: 01/30/24 by Jared Elliott</p>
    <p class="post" name="post-content">Post content goes here.</p>
    <span name="post-footer">Comments: 0 | Leave a comment.</span>
</section>