<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog!</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
    <h1>TechyBlog - For all your tech news!</h1>
    </header>
    
    <!-- Handlebars.js will handle body content here -->
    {{{body}}}

    <footer>
        <!-- [FOOTER HERE LATER...] -->
    </footer>
</body>
</html>