:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    flex: 1 0;
    text-align: center;
}

section {
    margin: 0 auto .25rem auto;
    padding: 0 .25rem;
    width: 90%;
    border: 1px solid black;
}

h2 {
    margin: auto;
    width: fit-content;
}

h3 {
    margin: 0;
    padding: 0;
}

section p {
    margin: 0;
    padding: 0;
}

.sub {
    font-size: 75%;
}

.post {
    padding: .5rem 0;
}

form {
    padding: 1rem;
    border: 1px solid black;
    width: 200px;
    margin: auto;
}

form label {
    display: block;
    text-align: left;
}

form input[type="text"], form input[type="password"] {
    box-sizing: border-box; /* Fix for margin/padding issues on input text */
    width: 100%;
}

form button {
    width: 100%;
}

form div {
    padding: .5rem 0;
}